In [1]:
#for loop

for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [4]:
# for loop in list.....  find odd or eve

k=[1,2,3,4,5]
for i in k:
    if i%2!=0 :
        print ("odd")
    else :
        print("eve")

odd
eve
odd
eve
odd

In [8]:
# max

k=[1,2,3,4,5]
print("maximum", max(k))
print("min",min(k))

maximum 5
min 1

In [11]:
#enumerate 
k=[1,2,3,4,5]
for i,j in enumerate(k):
    print(i,j)

0 1
1 2
2 3
3 4
4 5

In [13]:
#union
k=[1,2,3,4,5]
l=[2,5,7,8,9]

print(k.union(l))

AttributeError: 'list' object has no attribute 'union'